
@media screen and (max-width:530px) {
    .section-one-childOne {
        width: 95%;
    }
    .section-one-childTwo {
        width: 90%;
    }

    .section-one-childTwo>.img {
        height: 50%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width:300px) {
    .section-one-childTwo {
        width: 90%;
    }
    .section-one-childTwo>.img {
        height: 50%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}